{% extends 'base.html.twig' %}
{% form_theme form with ['form/form_row.html.twig', 'form/form_errors.html.twig'] %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<div class="wrapper pattern-wrapper bg-image" data-image-src="{{ asset('style/images/art/pattern.png') }}" style="background-image: url({{ asset('style/images/art/pattern.png') }});">
        <div class="container inner">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <h2 class="section-title section-title-upper large section-title-line text-center">S'inscrire</h2>


                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-3 form-avatar">
                            <div class="avatar-container">
                                <div class="user icon icon-round overlay">
                                    <img src="{{asset('assets/blank-avatar.png')}}" alt="Avatar de l'utilisateur" id="avatar">
                                    <div id="edit-avatar" style="font-size:13px;">Modifier</div>
                                </div>
                                <div id="delete-avatar" role="button"></div>
                            </div>
                            {{ form_widget(form.imageFile, {'label' : 'Avatar', 'class' : 'form-control'}) }}
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                {{ form_row(form.username, {'label' : 'Nom d\'utilisateur', 'attr': {'placeholder' : 'Nom d\'utilisateur', 'class' : 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.email, {'label' : 'Adresse email', 'attr': {'placeholder' : 'Adresse email', 'class' : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.password, {'label' : 'Mot de passe', 'attr': {'placeholder' : 'Mot de passe', 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.confirm_password, {'label' : 'Confirmation du mot de passe', 'attr': {'placeholder' : 'Confimer le mot de passe', 'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-full-rounded">Inscription</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
</div>
{% endblock %}
