{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="wrapper light-wrapper">
    <div class="container">
        <div class="col-12">
            <div class="space50"></div>
            <h2 class="section-title section-title-upper section-title-underline text-center mb-90">Mon compte</h2>

            <h2>Hello, <span class="color-blue-green text-center">{{ user.username }} !</span></h2>

            {{ form_start(form, { 'action': path('security_user_profile'), 'attr': { 'id': 'profil_form', 'class': 'security_user_profile', 'novalidate': 'novalidate' } }) }}
            <div class="row">
                <div class="col-md-2">
                    <div class="avatar-container">
                        <div class="user icon overlay">
                            <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="Avatar de l'utilisateur" id="">
                            <div id="edit-avatar" role="button" style="font-size:13px;">Modifier</div>
                        </div>
                        <div id="delete-avatar" role="button"></div>
                    </div>
                    {{ form_widget(form.imageFile, {'label' : 'Avatar', 'class' : 'form-control'}) }}
                </div>

                <div class="col-md-4 offset-1">
                    <div class="form-group">
                        {{ form_row(form.username, {'label' : 'Nom d\'utilisateur', 
                                                        'attr': {'placeholder' : 'Nom d\'utilisateur', 'class' : 'form-control', 'disabled' : 'disabled', 'description' : 'toto'}
                                                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {'label' : 'Adresse email', 'attr': {'placeholder' : 'Adresse email', 'class' : 'form-control'}})
                        }}
                    </div>

                    {# <div class="space30"></div>
                        <h2 class="section-title section-title-upper text-center">Changer de mot de passe</h2> #}

                    <div class="form-group">
                        {{ form_row(form.password, {'label' : 'Mot de passe', 'attr': {'placeholder' : 'Mot de passe', 'class' : 'form-control'}})
                        }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.confirm_password, {'label' : 'Confirmation du mot de passe', 'attr': {'placeholder' : 'Confimer le mot de passe', 'class' : 'form-control'}})
                        }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-xs btn-dark lead">Enregistrer</button>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="py-2 px-4 ml-40">
                        <h3 class="sub-heading3 text-uppercase">Profil</h3>
                        <span class="custom-comments fill-black size-20">
                            {{ include('icon/comments.html.twig') }}
                            <span class="color-blue-green text-center">{{ user.comments|length }}</span> commentaire(s)
                        </span>
                    </div>

                    <div class="subscription mt-40 border py-2 px-4 ml-40">
                        <h3 class="sub-heading3 text-uppercase">Abonnement</h3>
                        <p>
                            <span class="lead2 color-dark">
                                Abonné(e) jusqu'au JJ-MM-AA - <span class="color-blue-green">Corbies</span>
                            </span>
                        </p>
                        <div class="row">
                            <div class="col-md-10">
                                <span class="lead2 color-dark">Mode de paiement</span> <br>
                                <span class="lead">Prochain prélevement prévu le JJ-MM-AA</span> <br>
                                <span class="lead">CARTE se terminant par ***-xxx</span>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-xs btn-dark lead color-white">Gérer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <div class="pt-50 pb-50">
                <h3 class="pb-20 sub-heading3 text-uppercase">Galeries aimé</h3>
                {{ include('galery/_preview.html.twig', { galeries: galeries, col: '4' }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}