{% if not comment.isReply %}
<li class="parent{% if galery.id is null %} mt-0 pt-1 {% endif %}">
{% else %}
<ul class="children">
    <li>
{% endif %}
        <div class="message">
            <div class="user icon icon-round">
                <div id="avatar" style="background-image: url({{ vich_uploader_asset(user, 'imageFile') }})"></div>
                {% if user.isPremium %}
                    <span class="badge bg-role">Corbies</span>
                {% endif %}
            </div>
            <div class="message-inner">
                <div class="info">
                    <h6><a href="{{ path('user.show', {'username': user.username}) }}">{{ user.username }}</a></h6>
                    <div class="meta">
                        <span class="date">{{ comment.createdat|localizeddate('medium', 'none') }}</span>
                        {% if not comment.isReply and app.user and galery.id is not null %}
                            <span class="reply">
                                <a data-galery-id="{{ galery.id }}" data-comment-id="{{ comment.id }}" href="#"
                                    class="comment_reply">Répondre</a>
                            </span>
                        {% endif %}
                    </div>
                </div>
                {{ comment.message }}
            </div>
        </div>
{% if not comment.isReply %}
    </li>
{% else %}
    </li>
</ul>
{% endif %}