<footer class="dark-wrapper inverse-text">
    <div class="container inner pt-60 pb-60">
        <div class="row">
        <div class="col-md-12 col-lg-4 text-center text-lg-left">
            <div class="widget"> 
            <h4>deCorban</h4>
            {# <img src="#" srcset="{{ asset('style/images/logo-light.png') }} 1x, {{ asset('style/images/logo-light@2x.png') }} 2x" alt="" /> #}
            <div class="space20"></div>
            <p>Est dolores corporis qui harum sed itaque dolorem. Distinctio veritatis odio est eveniet ut sint. Eum debitis sunt quisquam aperiam.</p>
            <div class="space20"></div>
            <p>© 2020 Bastien SOARES. Tout droits réservés.</p>
            </div>
            <!-- /.widget --> 
        </div>
        <!-- /column -->
        <div class="space30 d-lg-none d-xl-none"></div>
        <div class="col-md-6 col-lg-4">
            <div class="widget">
            <h3 class="widget-title">Galeries Populaires</h3>
            <ul class="image-list">
                <li>
                <figure><a href="blog-post.html"><img src="{{ asset('style/images/art/a1.jpg') }}" alt="" /></a></figure>
                <div class="post-content">
                    <h6 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h6>
                    <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#">4</a></span></div>
                </div>
                </li>
                <li>
                <figure> <a href="blog-post.html"><img src="{{ asset('style/images/art/a2.jpg') }}" alt="" /></a></figure>
                <div class="post-content">
                    <h6 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h6>
                    <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#">4</a></span></div>
                </div>
                </li>
                <li>
                <figure><a href="blog-post.html"><img src="{{ asset('style/images/art/a3.jpg') }}" alt="" /></a></figure>
                <div class="post-content">
                    <h6 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h6>
                    <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#">4</a></span></div>
                </div>
                </li>
            </ul>
            <!-- /.image-list --> 
            </div>
            <!-- /.widget --> 
        </div>
        <!-- /column -->
        <div class="col-md-6 col-lg-4">
            <div class="widget">
            <h3 class="widget-title">Tags</h3>
            <ul class="list-unstyled tag-list">
                <li><a href="#" class="btn btn-full-rounded">Still Life</a></li>
                <li><a href="#" class="btn btn-full-rounded">Urban</a></li>
                <li><a href="#" class="btn btn-full-rounded">Nature</a></li>
                <li><a href="#" class="btn btn-full-rounded">Landscape</a></li>
                <li><a href="#" class="btn btn-full-rounded">Macro</a></li>
                <li><a href="#" class="btn btn-full-rounded">Fun</a></li>
            </ul>
            </div>
            {# <div class="widget">
            <h3 class="widget-title">Categories</h3>
            <ul class="unordered-list column-2">
                <li><a href="#" class="nocolor">Lifestyle (21)</a></li>
                <li><a href="#" class="nocolor">Photography (19)</a></li>
                <li><a href="#" class="nocolor">Journal (16)</a></li>
                <li><a href="#" class="nocolor">Works (7)</a></li>
            </ul>
            </div> #}
            <!-- /.widget --> 
        </div>
        <!-- /column --> 
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container --> 
</footer>