<footer class="dark-wrapper inverse-text">
    <div class="container inner pt-60 pb-60">
        <div class="row">
            <div class="col-md-12 col-lg-4 text-center text-lg-left">
                <div class="widget">
                    <img src="{{ asset('style/images/logo-footer.png') }}" alt="deCorban" />
                    <div class="space20"></div>
                    <ul class="list-unstyled pl-20 footer-links">
                        <li><a class="text-white" href="{{ path('home') }}">Accueil</a></li>
                        <li><a class="text-white" href="{{ path('about') }}">À propos</a></li>
                        <li><a class="text-white" href="{{ path('galeries') }}">Galeries</a></li>
                        <li><a class="text-white" href="{{ path('models') }}">Modèles</a></li>
                        <li><a class="text-white" href="{{ path('contact') }}">Contact</a></li>
                        <li><a class="text-white" href="{{ path('legal_notices') }}">Mentions légales</a></li>
                    </ul>
                    
                    
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-8 offset-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
                {{ render(controller("App\\Controller\\GaleryController::popularGaleries")) }}
            </div>
            <!-- /column -->
            <div class="col-8 offset-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0 text-center">
                <div class="widget">
                    <h3 class="widget-title">Suivez-moi !</h3>
                    <ul class="list-unstyled tag-list social-network">
                        <li>
                            <a href="https://www.instagram.com/decorban_dcrbn/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/GdeCorban" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tumblr.com/safe-mode?url=https%3A%2F%2Fdecorban.tumblr.com%2F"
                                target="_blank">
                                <i class="fa fa-tumblr"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/deCorban" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://500px.com/p/decorban?view=photos" target="_blank">
                                <i class="fa fa-500px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <div class="footer-border"></div>
                <div class="space40"></div>
                <p>© deCorban 2021. Tout droits réservés.</p>
                <p><small>Développé par : <a href="https://bastien-soares.fr">Bastien SOARES</a></small></p>
                <p><small>Designé par : <a href="https://rugged-art.fr">Dylan RAMBINAISING</a></small></p>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>