
<nav class="navbar solid nav-wrapper-dark inverse-text navbar-expand-lg">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('style/images/logo.png') }}" alt="deCorban" />
                </a>
            </div>
            <div class="navbar-hamburger ml-auto d-lg-none d-xl-none">
            <button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button>
            </div>
        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">À propos</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{ path('galeries') }}">Galeries</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{ path('models') }}">Modèles</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Forum</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="{{ path('contact') }}">Contact</a></li>
                
                {% if not app.user %}
                    <li class="nav-item dropdown account-circle">
                        <a href="{{ path('security_login') }}">
                            <span class="account-circle fill-light size-40">
                                {{ include('icon/account.html.twig') }}
                            </span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <div class="user icon icon-round">
                                <img id="nav-avatar" alt="" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left dropdown-custom">
                            <li class="nav-item">
                                <a class="dropdown-item" href="{{ path('security_user_profile') }}">Mon compte</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a>
                            </li>
                        </ul>
                    </li>    
                {% endif %}
               
            </ul>
            <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
</nav>
<!-- /.navbar -->