{% set base_title = title ~ ' | deCorban.art - L\'éromantisme' %}
{% set base_description = 'Découvrez un univers photographique onirique de nu féminin, où beauté, charme, érotisme et romantisme ne font plus qu\'un.' %}
{% set base_image = absolute_url(asset('assets/deCorban04.jpg')) %}
<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="text" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="{{ asset('style/images/favicon.png') }}">

      <title>{{ base_title }}</title>

      <meta name="title" content="{{ base_title }}">
      <meta name="description" content="{{ base_description }}">
      
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ app.request.uri }}">
      <meta property="og:title" content="{{ base_title }}">
      <meta property="og:description" content="{{ base_description }}">
      <meta property="og:image" content="{{ base_image }}">


      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="{{ app.request.uri }}">
      <meta property="twitter:title" content="{{ base_title }}">
      <meta property="twitter:description" content="{{ base_description }}">
      <meta property="twitter:image" content="{{ base_image }}">

      <link rel="canonical" href="{{ app.request.uri }}">

      {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
          <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('css/plugins.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('revolution/css/settings.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('revolution/css/layers.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('revolution/css/navigation.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('revolution/revolution-addons/typewriter/css/typewriter.css') }}" rel="stylesheet" type="text/css"/>

          <link href="{{ asset('style/icons.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('css/custom.css') }}" rel="stylesheet" type="text/css"/>
          <link href="{{ asset('css/color/blue-green.css') }}" rel="stylesheet" type="text/css"/>
          <link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>

    <body data-aos-easing="ease-in-out-sine" data-aos-duration="800" data-aos-delay="0" style="zoom: 1;">
      <div class="content-wrapper">
        {{ include('component/social_network_bar.html.twig') }}
        {{ include('component/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('component/footer.html.twig') }}
      </div>

      {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script>
          $(document).bind("contextmenu",function(e){
            return false;
          });
        </script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('revolution/js/jquery.themepunch.tools.min.js') }}"></script>
        <script src="{{ asset('revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
        <script src="{{ asset('revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js') }}"></script>
        <script src="{{ asset('revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js') }}"></script>
        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="{{ asset('js/client.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
          window.cookieconsent.initialise({
            "palette": {
              "popup": {
                "background": "#181818"
              },
              "button": {
                "background": "#ffffff",
                "text": "#181818",
                // "border": "#33c4bf"
              }
            },
            "position": "bottom-right",
            "content": {
              "message": "Ce site utilise les cookies afin d'assurer son bon fonctionnement.",
              "dismiss": "Accepter",
              "link": "Lire plus",
              "href": "{{ path('legal_notices') }}"
            }
          });
        </script>
      {% endblock %}
    </body>
</html>
