{% import 'component/macros.html.twig' as macros %}
{% extends 'base.html.twig' %}

{% set title = 'Les galeries' %}

{% block body %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{ asset('assets/galery_header.png') }}" style="background-image: url({{ asset('assets/galery_header.png') }});">
  <div class="container inner pt-120 pb-120 text-center">
    <h1 class="sub-heading2 text-center text-uppercase letterspace-8">Annuaire des galeries</h1>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container">
    <div class="space50"></div>
    <div id="cube-grid-filter" class="cbp-filter-container text-center">
      <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Tout</div>
      {% for category in categories %}
      <div data-filter=".{{ category.translitname }}" class="cbp-filter-item">{{ category.name }}</div>
      {% endfor %}
    </div>
    <div class="section-title-underline"></div>
    <div class="space70"></div>
    <div id="cube-grid" class="cbp text-center">
      {% for galery in galeries %}
      <div class="cbp-item {{ galery.categoriesName }}">
        <figure class="overlay overlay2 overlay-info hovered">
          <a href="{{ path('galery.show', {slug: galery.slug}) }}">
            {{ macros.image(
                vich_uploader_asset(galery, 'thumbnailFile'),
                370,
                370,
                {'class': 'img-fluid', 'alt': 'Miniature de la galerie "' ~ galery.title ~ '"'},
            ) }}
          </a>
          <figcaption class="d-flex">
            <div class="gallery-list align-self-end mt-auto">
              <h4 class="post-title">{{ galery.title }}</h2>
                <div class="meta">
                  <span class="date">
                    {{ galery.getCreatedAt()|localizeddate('medium', 'none') }}
                  </span>
                  <span class="pictures fill-light size-16">
                    {{ include('icon/pictures.html.twig') }}
                    {{ galery.attachments|length }}
                  </span>
                  <span class="custom-comments fill-light size-16">
                    {{ include('icon/comments.html.twig') }}
                    {{ galery.comments|length }}
                  </span>
                  <span class="likes fill-dark size-16">
                    {{ include('icon/heart.html.twig') }}
                    {{ galery.userLikes|length }}
                  </span>
                </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!--/.cbp-item -->
      {% endfor %}
    </div>
    <!--/.cbp -->
    <div class="space50"></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endblock %}