{% import 'component/macros.html.twig' as macros %}
{% extends 'base.html.twig' %}

{% set title = 'Galerie - ' ~ galery.title %}

{% block body %}
{% set banner = galery.banner ? 'bannerFile' : 'thumbnailFile' %}

<div class="wrapper image-wrapper bg-image inverse-text"
    data-image-src="{{ vich_uploader_asset(galery, banner) }}"
    style="background-image: url({{ vich_uploader_asset(galery, banner) }});">
    <div class="container inner pb-150 pt-150">
        <h1 class="sub-heading2 text-center text-uppercase letterspace-8">{{ galery.title }}</h1>
    </div>
</div>

<div class="wrapper dark-wrapper inverse-text border-colored">
    <div class="container pt-30">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-30">
            {{ message }}
        </div>
        {% endfor %}

        <div class="row counter">
            <div class="col-md-4 offset-8">
                <span class="buffer_decorban fill-light size-200">
                    {{ include('icon/buffer_decorban.html.twig') }}
                </span>
            </div>
            <div class="col-md-8 col-10 offset-md-2 offset-1">
                <div class="row">
                    <!--/column -->
                    <div class="col-md-3 col-6 text-center">
                        <div class="size-45 fill-light mb-15">{{ include('icon/pictures.html.twig') }}</div>
                        <h4 class="title-color color-blue-green text-center value">{{ galery.attachments|length }}</h4>
                        <p class="lead2">Photos</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3 col-6 text-center">
                        <div class="size-45 fill-light mb-15">{{ include('icon/coffee.html.twig') }}</div>
                        <h4 class="title-color color-blue-green text-center value">{{ galery.cupOfCoffee }}</h4>
                        <p class="lead2">Tasses à café</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3 col-6 text-center">
                        <div class="size-45 fill-light mb-15 hover has-tooltip" data-placement="right"
                            data-original-title="{{ galery.models | join(', ', ' et ') }}">
                            {{ include('icon/model.html.twig') }}</div>
                        <h4 class="title-color color-blue-green text-center value">{{ galery.models|length }}</h4>
                        <p class="lead2">Modèle(s)</p>
                    </div>
                    <!--/column -->
                    <div class="col-md-3 col-6 text-center">
                        <a id="galery-like" data-galery-id="{{ galery.id }}"
                            data-csrf-token="{{ csrf_token('galery' ~ galery.id) }}"
                            data-liked="{{ app.user ? app.user.isLiking(galery) ? 1 : 0 : 0}}" {% if not app.user %}
                            class="hover has-tooltip not-active" data-placement="right"
                            data-original-title="Connectez-vous pour liker cette galerie." {% endif %} href="#">
                            <div
                                class="size-45 fill-light mb-15 {{ app.user ? app.user.isLiking(galery) ? 'show' : 'hide' : 'hide' }}">
                                {{ include('icon/heart_full.html.twig') }}</div>
                            <div
                                class="size-45 fill-light mb-15 {{ app.user ? app.user.isLiking(galery) ? 'hide' : 'show' : 'show' }}">
                                {{ include('icon/heart.html.twig') }}</div>
                        </a>
                        <h4 id='likes-count' class="title-color color-blue-green value">{{ galery.userLikes|length }}
                        </h4>
                        <p class="lead2">Likes</p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row -->
        <div class="pt-20 col-md-6 col-8 offset-md-3 offset-2">
            <div class="row">
                <blockquote class="lead2 text-center">
                    {{ galery.description|raw }}
                </blockquote>
            </div>
        </div>

        <div class="col-md-12 pt-20 text-center galery-tag">
            <ul class="list-unstyled tag-list">
                {% for tag in galery.categories %}
                <li><a href="#" class="btn btn-full-rounded">#{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-12 galery-picture pb-100">
            {% if galery.isFree or (app.user and app.user.isPremium or app.user and app.user.isRenting(galery)) %}
            <div id="cube-grid" class="cbp light-gallery">
                {% for attachment in galery.attachments %}
                <div class="cbp-item">
                    <figure class="overlay overlay2">
                        <a href="{{vich_uploader_asset(attachment, 'file')}}">
                            {{ macros.fixedWidthImage(
                                vich_uploader_asset(attachment, 'file'),
                                360,
                                {'class': 'img-fluid', 'alt': 'Image n°' ~ loop.index ~' de la galerie "' ~ galery.title ~ '"'},
                                {'q': 70}
                            ) }}
                        </a>
                    </figure>
                </div>
                <!--/.cbp-item -->
                {% endfor %}
            </div>
            {% else %}
            <h2 class="section-title text-center">Vous voulez voir cette galerie ? Abonnez-vous !</h2>
            <p class="lead text-center">Vous avez la possibilité de <strong>louer</strong> cette galerie pour la
                journée, ou alors vous abonner au site <strong>decorban.art</strong> pour le mois.</p>
            <div class="space30"></div>
            <div class="row no-gutter">
                <div class="col-md-4 offset-md-2">
                    <div class="pricing panel">
                        <div class="panel-heading">
                            <div class="icon icon-color color-default fs-48"><i class="si-building_home"></i></div>
                            <h4 class="panel-title color-dark">Louer</h4>
                            <div class="price color-dark"> <span class="price-currency">€</span><span
                                    class="price-value">5</span> <span class="price-duration">jour</span></div>
                        </div>
                        <!--/.panel-heading -->
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><strong>Choisissez</strong> une galerie à louer</td>
                                    </tr>
                                    <tr>
                                        <td>Visualisez-la pour <strong>24h</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/.panel-body -->
                        <div class="panel-footer">
                        {% if app.user %}
                            <a data-galery-id="{{ galery.id }}" class="btn btn-full-rounded checkout-button" role="button">Je loue cette galerie</a>
                        {% endif %}
                        </div>
                    </div>
                    <!--/.pricing -->
                </div>
                <!--/column -->
                <div class="col-md-4">
                    <div class="pricing panel">
                        <div class="panel-heading">
                            <div class="icon icon-color color-default fs-48"><i class="si-building_small-shop"></i>
                            </div>
                            <h4 class="panel-title color-dark">Abonnement</h4>
                            <div class="price color-dark"> <span class="price-currency">€</span><span
                                    class="price-value">10</span> <span class="price-duration">mois</span></div>
                        </div>
                        <!--/.panel-heading -->
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Accès <strong>illimité</strong> à l'ensemble du catalogue</td>
                                    </tr>
                                    <tr>
                                        <td><strong>30 jours</strong> d'abonnement</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/.panel-body -->
                        <div class="panel-footer">
                        {% if app.user %}
                            <a class="btn btn-full-rounded checkout-button" role="button">Je m'abonne</a>
                        {% endif %}
                        </div>
                    </div>
                    <!--/.pricing -->
                </div>
                <!--/column -->
                {% if not app.user %}
                    <div class="col-md-8 offset-2">
                        <div class="alert alert-primary text-center" role="alert"><a href="{{ path('security_login') }}">Connectez-vous</a> pour souscrire a un abonnement ou louer cette galerie.</div>
                    </div>
                {% endif %}
            </div>
            <!--/.row -->
            {% endif %}
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="wrapper pt-60 light-wrapper">
    <div class="container">
        <div class="col-lg-10 offset-lg-1">
            <div id="comments">
                <h2 class="section-title section-title-upper mb-40">{{ galery.comments|length }} commentaire(s) sur
                    "{{ galery.title }}"</h2>
                <ol id="singlecomments" class="commentlist">
                {% for comment in galery.comments %}
                    {% if not comment.isReply %}
                        {{ include('comment/_single_comment.html.twig', { user: comment.user }) }}

                        {% for reply in comment.comments %}
                            {{ include('comment/_single_comment.html.twig', { comment: reply, user: reply.user }) }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ol>
                <br>

                <div id="comment_accordion" class="accordion-wrapper lined pt-40">
                    <div class="card">
                        <div class="card-header">
                            <h3> <a data-toggle="collapse" data-parent="#comment_accordion" href="#collapse"
                                    aria-expanded="true" class="">Ajouter un commentaire</a> </h3>
                        </div>
                        <!-- /.card-header -->

                        <div id="collapse" class="collapse show" style="">
                            <div class="card-block">
                                {% if app.user %}
                                {{ render(path('form_comment', {galery: galery.id, replyTo: null})) }}
                                {% else %}
                                <p><a href="{{ path('security_login') }}">Connectez-vous</a> ou <a
                                        href="{{ path('security_registration') }}">inscrivez-vous</a> pour poster des
                                    commentaires.</p>
                                {% endif %}
                            </div>
                            <!-- /.card-block -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% if related_galeries %}
<div class="wrapper pt-40 pb-40 light-wrapper">
    <div class="container">
        <div class="col-lg-10 offset-lg-1">
            <h2 class="section-title section-title-upper text-left">Découvrez d'autres galeries</h2>
            <div class="row">
                {% for galery in related_galeries %}
                <div class="col-md-4">
                    <a href="{{ path('galery.show', {slug: galery.slug}) }}">
                        <figure class="overlay overlay4">
                            {{ macros.image(
                                vich_uploader_asset(galery, 'thumbnailFile'),
                                290,
                                290,
                                {'class': 'img-fluid', 'alt': 'Miniature de la galerie "' ~ galery.title ~ '"'},
                                {'fit': 'crop'}
                            ) }}
                        </figure>
                        <div class="post-content text-left gallery-slider pt-5">
                            <div class="meta">
                                <span class="title lead2">{{ galery.title }}</span><br>
                                <span class="date">{{ galery.getCreatedAt()|localizeddate('medium', 'none') }}</span>
                                <span class="pictures fill-dark size-16">
                                    {{ include('icon/pictures.html.twig') }}
                                    10
                                </span>
                                <span class="custom-comments fill-dark size-16">
                                    {{ include('icon/comments.html.twig') }}
                                    {{ galery.comments|length }}
                                </span>
                                <span class="likes fill-dark size-16">
                                    {{ include('icon/heart.html.twig') }}
                                    {{ galery.userLikes|length }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
{% endif %}
{% endblock %}