{% extends 'base.html.twig' %}

{% block title %}Hello GaleryController!{% endblock %}

{% block body %}
     <div class="wrapper light-wrapper">
        <div class="container inner">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mb-30">
                    {{ message }}
                </div>
            {% endfor %}
          <div class="row gutter-60 gutter-md-30">
            <div class="col-md-6">
              <figure>
                <img src="{{ vich_uploader_asset(galery, 'thumbnailFile') }}" alt="">
              </figure>
            </div>
            <!-- /column -->
            <div class="col-md-6">
                <h2 class="section-title section-title-upper section-title-lin title-color color-oasis text-center">{{ galery.title }}</h2>
                <span class=" lead text-center ">{{ galery.description|raw }}</span>
                <div class="galery-tag">
                    <ul class="list-unstyled tag-list">
                    {% for tag in galery.categories %}
                    <li><a href="#" class="btn btn-full-rounded">#{{ tag.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /column -->
            
            <div class="col-md-10 offset-md-1">
                <div class="divider-icon"><i class="fa fa-camera"></i></div>
                <div class="text-center">
                    <a href="" class="btn btn-oasis btn-full-rounded">Visitez cette galerie (5€/jours)</a>
                    <a href="" class="btn btn-oasis btn-border btn-full-rounded">Abonnez-vous (10€/mois)</a>
                </div>
                <div class="collage-wrapper">
                    <div id="collage-medium" class="collage effect-parent light-gallery">
                        {% for image in galery.images %}
                        <div class="collage-image-wrapper">
                            <div class="overlay overlay2"><a href="{{ vich_uploader_asset(image, 'imageFile') }}" data-sub-html="#caption1"><img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt=""></a>
                                <div id="caption1" class="d-none">
                                    {{ galery.title }}
                                </div>
                            </div>
                        </div>
                        <!-- /.collage-image-wrapper -->
                        {% endfor %}
                    </div>
                    <!-- /.collage --> 
                </div>
                <!-- /.collage-wrapper --> 
                <div class="divider-icon"><i class="fa fa-pencil"></i></div>
            </div>
            <div class="col-lg-8 offset-lg-2">
                {# <div class="divider-icon"><i class="fa fa-pencil"></i></div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="widget-title">Tags</h3>
                        <div class="inverse-text">
                            <ul class="list-unstyled tag-list">
                            {% for tag in galery.categories %}
                            <li><a href="#" class="btn btn-full-rounded">{{ tag.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ include('model/preview.html.twig', { models: galery.models }) }}
                    </div>
                </div> #}


                <div id="comments">
                    <h4>{{ galery.comments|length }} commentaire(s) sur "{{ galery.title }}"</h4>
                    <ol id="singlecomments" class="commentlist">
                    {% for comment in galery.comments %}
                        {% if comment.isNotReply %}
                        <li>
                            <div class="message">
                                <div class="user icon icon-round">
                                    <img alt="" src="{{ vich_uploader_asset(comment.user, 'imageFile') }}">
                                    <span class="badge bg-role-1"><i class="fa fa-chess-rook"></i>Corbies</span>
                                </div>
                                <div class="message-inner">
                                <div class="info">
                                    <h6><a href="#">{{ comment.user.username }}</a></h6>
                                    <div class="meta"> <span class="date">{{ comment.createdat|date('d M Y à H\\hi') }}</span>
                                    {% if app.user %}
                                        <span class="reply"><a data-galery-id="{{ galery.id }}" data-comment-id="{{ comment.id }}" href="#" class="comment_reply">Répondre</a></span> 
                                    {% endif %}
                                    </div>
                                </div>
                                    {{ comment.message }}
                                </div>
                            </div>
                            {% for reply in comment.comments %}
                            <ul class="children">
                                <li>
                                    <div class="message">
                                        <div class="user icon icon-round">
                                            <img alt="" src="{{ vich_uploader_asset(reply.user, 'imageFile') }}">
                                            <span class="badge bg-role">Corbies</span>
                                        </div>
                                        <div class="message-inner">
                                        <div class="info">
                                            <h6><a href="#">{{ reply.user.username }}</a></h6>
                                            <div class="meta"> <span class="date">{{ reply.createdat|date('d M Y à H\\hi') }}</span></div>
                                        </div>
                                        {{ reply.message }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                    <br>

                    <div id="comment_accordion" class="accordion-wrapper lined">
                        <div class="card">
                            <div class="card-header">
                                <h3> <a data-toggle="collapse" data-parent="#comment_accordion" href="#collapse" aria-expanded="true" class="">Ajouter un commentaire</a> </h3>
                            </div>
                            <!-- /.card-header -->

                            <div id="collapse" class="collapse show" style="">
                                <div class="card-block">
                                {% if app.user %}
                                    {{ render(path('form_comment', {galery: galery.id, replyTo: null})) }}
                                {% else %}
                                    <p><a href="{{ path('security_login') }}">Connectez-vous</a> ou <a href="{{ path('security_registration') }}">inscrivez-vous</a> pour poster des commentaires.</p>
                                {% endif %}
                                </div>
                                <!-- /.card-block --> 
                            </div>
                            <!-- /.collapse --> 
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
