{% import 'component/macros.html.twig' as macros %}
{% extends 'base.html.twig' %}

{% block title %}Les modèles{% endblock %}

{% block body %}
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{ asset('assets/model_header.png') }}" style="background-image: url({{ asset('assets/model_header.png') }});">
        <div class="container inner pb-120 pt-120">
            <h1 class="sub-heading2 text-center text-uppercase letterspace-8">Découvrez les modèles</h1>
        </div>
    </div>

    <div class="wrapper light-wrapper">
      <div class="container">
        <div class="space50"></div>
        <div class="section-title-underline"></div>
        <div class="space70"></div>
        <div id="cube-grid" class="cbp light-gallery">
            {% for model in models %}
            <div class="cbp-item">
                <figure class="overlay overlay5 model">
                  <a href="{{ path('model.show', {slug: model.slug}) }}">
                      {{ macros.image(
                            vich_uploader_asset(model, 'imageFile'),
                            370,
                            370,
                            {'class': 'img-fluid', 'alt': 'Portrait du modèle "' ~ model.name ~ '"'},
                        ) }}
                    </a>
                    <figcaption class="d-flex">
                        <div class="align-self-end mx-auto">
                            <h4 class="mb-0">{{ model.name }}</h4>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            {% endfor %}
        </div>
      </div>
      <!-- .swiper-container-wrapper -->
      <div class="space50"></div>
    </div>
  <!-- /.wrapper -->
{% endblock %}