{% import 'component/macros.html.twig' as macros %}
{% extends 'base.html.twig' %}

{% set title = 'Modèle - ' ~ model.name %}

{% block body %}
    <div class="wrapper light-wrapper">
        <div class="container">
            <div class="row mb-90 mt-90">
                <div class="col-md-4 offset-1">
                    <figure class="overlay-info">
                        {{ macros.image(
                            vich_uploader_asset(model, 'imageFile'),
                            360,
                            360,
                            {'class': 'img-fluid', 'alt': 'Portrait du modèle "' ~ model.name ~ '"'},
                            {'fit': 'crop'}
                        ) }}  
                    </figure>
                </div>
                <div class="col-md-6 text-md-left text-center">
                    <h1 class="section-title section-title-upper">
                        {{ model.name }}
                        {% if model.instagram %}
                            <a href="{{ model.instagram }}" target="_blank"> <i class="fa fa-instagram"></i></a>
                        {% endif %}
                    </h1>

                    {% if model.age %} <i class="fa fa-birthday-cake"></i> {{ model.age }} ans {% endif %}
                    {% if model.height %} | <i class="si-design_ruler-2"></i> {{ model.heightFormatted }} {% endif %}
                    {% if model.country or model.city %}
                        | <i class="fa fa-map-marker"></i> 
                        {% if model.country and model.city %}
                            {{ model.country }}, {{ model.city }}
                        {% elseif model.country %} 
                            {{ model.country }}
                        {% elseif model.city %} 
                            {{ model.city }}
                        {% endif %}
                    {% endif %}
                    <p>{{ model.description|raw }}</p>
                </div>
            </div>
        {% if model.galeries is not empty %}
            <div class="pl-30 pr-30 mb-80">
                <h2 class="section-title section-title-upper text-left">Ses albums</h2>
                {{ include('galery/_preview.html.twig', { galeries: model.galeries, col: '3' }) }}
            </div>
            <!-- /.container -->
        {% endif %}
        </div>
        <!-- /.container --> 
    </div>
    <!-- /.wrapper -->

{% endblock %}